[Unit]
Description=GNSS Status Check Service
after=network.target

[Service]
User=oslab
ExecStart=/home/oslab/RSU_Controller/gnss_status_check.sh
WorkingDirectory=/home/oslab/RSU_Controller
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target